<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Afiliados SafePet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-6">
    <h1 class="bg-success">Bienvenidos
        <small class="color3"> <br>Lista de Afiliados</small></h1>
</div>


<div class="container mt-4">

    <a th:href="@{/newAfiliado}" class="btn btn-info">Nuevo</a>
    <br><br>
    <form th:action="@{/newAfiliado}" class="form-inline" method="get">
        <input class="form-control mr-sm-2" type="search" name="codigoBuscar" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br><br>
    <table class="table">


        <tr th:each="afiliado:${afiliados}">

        </tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
</body>
</html>