<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SafePet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<header> <br><br>


</header>
<body>
<div class="container mt-9">
    <h1 class="bg-success">Bienvenidos
        <small class="color3"> <br>Lista de Servicios</small></h1>
</div>


<div class="container mt-4">

    <br><br>



    <br><br>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>NOMBRE</td>
            <td>CALIFICACION</td>
            <td>COSTO</td>
            <td>COPAGO</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio:${servicios}">
            <td th:text="${servicio.codigo}"></td>
            <td th:text="${servicio.nombre}"></td>
            <td th:text="${servicio.calificacion}"></td>
            <td th:text="${servicio.costo_en_plan}"></td>
            <td th:text="${servicio.copago}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>