<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">

    <a th:href="@{/newAfiliado}" class="btn btn-info">Nuevo</a>
    <br><br>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>NOMBRE</td>
        <td>EMAIL</td>
        <td>PASSWORD</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="afiliado:${afiliados}">
        <td th:text="${afiliado.codigo}"></td>
        <td th:text="${afiliado.nombre}"></td>
        <td th:text="${afiliado.email}"></td>
        <td th:text="${afiliado.password}"></td>
        <td>
            <a th:href="@{/editarAfiliado/}+${afiliado.codigo}" class="btn btn-warning">Editar</a>
            <a th:onclick="eliminarAfiliado([[${afiliado.codigo}]])" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>
</body>
</html>