<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asociados SafePet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-6">
    <h1 class="bg-success">Bienvenidos
        <small class="color3"> <br>Lista de Veterinarios Asociados</small></h1>
</div>

    <div class="container mt-4">

        <a th:href="@{/newVeterinaria}" class="btn btn-info">Nuevo</a>
        <br><br>
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>DIRECCION</td>
                <td>HORARIOS</td>
                <td>NIT</td>
                <td>CONTRASEÑA</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="veterinaria:${veterinarias}">
                <td th:text="${veterinaria.codigo}"></td>
                <td th:text="${veterinaria.nombre}"></td>
                <td th:text="${veterinaria.direccion}"></td>
                <td th:text="${veterinaria.horarioAtencion}"></td>
                <td th:text="${veterinaria.nit}"></td>
                <td th:text="${veterinaria.password}"></td>

                <td>
                    <a th:href="@{/editarVeterinaria/}+${veterinaria.codigo}" class="btn btn-warning">Editar</a>
                    <a th:onclick="eliminarVeterinaria([[${veterinaria.codigo}]])" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="funciones.js"></script>
</body>
</html>