<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SafePet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">

      <a th:href="@{/visitarVeterinaria}" class="btn btn-info">Ver Veterinarias Asociadas</a>

    </div>
    <div class="col-sm">

      <a th:href="@{/contratos}" class="btn btn-info">Ver mi contrato</a>

    </div>

  </div>
</div>
</body>
</html>