<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SafePet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<header>
    <br><br>

</header>
<body>
<div class="container mt-9">
    <h1 class="bg-success">Bienvenidos
        <small class="color3"> <br>Lista de Beneficiarios/Mascotas</small></h1>
</div>


<div class="container mt-4">

    <br><br>



    <br><br>
    <table class="table">
        <thead>
        <tr>
            <td>NOMBRE AFILIADO</td>
            <td>NOMBRE MASCOTA</td>
            <td>RAZA</td>
            <td>ESPECIE</td>
            <td>CODIGO</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mascota:${mascotas}">
            <td th:text="${mascota.beneficiario.nombre}"></td>
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.raza}"></td>
            <td th:text="${mascota.especie}"></td>
            <td th:text="${mascota.codigo}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>